.navbar {
    position: relative;
    left: 0;
    background-color: orange;
    width: 100%;
    margin: 0 auto;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.navbar ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: orange;
    color: black;
}
